{% extends 'layout.html.twig' %}
{% block body %}
    <h2>Список турниров</h2>
    <div style="margin-bottom: 40px;"><a href="{{ path('app_tournaments_create') }}">Добавить турнир</a></div>

    {% if tournaments|length > 0 %}
        {% for tournament in tournaments %}
            <div>
                id{{ tournament.id }}:{{ tournament.name }}  <a href="{{ path('app_tournaments_view', {slug: tournament.slug}) }}">Перейти</a> <a href="{{ path('app_tournaments_delete', {id: tournament.id}) }}">Удалить</a>
            </div>
        {% endfor %}
    {% else %}
        <div>Не найдено ни одного турнира.</div>
    {% endif %}
{% endblock %}